# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/
.eggs/
*.spec

# Installer logs
debug.log
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyInstaller
*.manifest
*.spec

# Virtual environments
.venv/
venv/
ENV/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Git LFS
*.exe
*.pkg
